# EditorConfig helps developers define and maintain consistent coding styles between different editors and IDEs
# For more information about the options and their values, visit http://editorconfig.org/

# Top-most EditorConfig file
root = true

# Set default indentation style and size
[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Override the global setting for specific file types
[*.md]  # Example for Markdown files
trim_trailing_whitespace = false
